.about {
  padding: 20px;

  h1 {
    text-align: center;
    margin: 16px;
  }

  img {
    width: 100%;
    border-radius: 10px;
  }

  p {
    margin: 2rem 8px;
    font-size: 18px;
  }

  @media screen and (min-width: 800px) {
    margin: 0 14%;

    img {
      width: 420px;
      border-radius: 10px;
    }

    .float-left {
      float: left;
      margin: 10px 1.2rem 10px 0;
    }

    .float-right {
      float: right;
      margin: 10px 0 10px 1.2rem;
    }
  }
}
