.landing {
  position: relative;
  overflow: hidden;
  height: 60vh;

  .bg-image {
    height: 60vh;
    width: 100%;
    color: rgb(255, 255, 255);
    background: center/cover #170c16 url(../../assets/landing.webp);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(1.1);
    filter: blur(3px) brightness(0.8);
    -webkit-filter: blur(3px) brightness(0.8);
  }

  .title-text {
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 30px;
  }

  span {
    color: #ff9500;
  }

  .arrow-down {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 50px;

    &:hover {
      cursor: pointer;
    }

    -webkit-animation: slide-bottom 2.5s ease-in-out 3s infinite alternate both;
    animation: slide-bottom 2.5s ease-in-out 3s infinite alternate both;
  }

  @media screen and (max-width: 380px) {
    .title-text {
      font-size: 0.9rem;
      padding: 10px;
    }
  }

  @media screen and (min-width: 800px) {
    height: 75vh;

    .bg-image {
      height: 75vh;
    }
  }
}

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  100% {
    -webkit-transform: translate(-50%, 16px);
    transform: translate(-50%, 16px);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  100% {
    -webkit-transform: translate(-50%, 16px);
    transform: translate(-50%, 16px);
  }
}
